<%= text_field :people, :email %>
<%= text_field :people, :email_confirmation %>


<h1>Names of all the people</h1>
<% @person.each do |person| %>
  Name: <%= person.name %><br>
<% end %>

<!--Hi, Mr. <%#= puts "Frodo" %> will not work-->


<%= render "menu" %>
<!--<%#= render "shared/menu" %>  from a shared folder-->